
.Weather-data-table {

}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid #626D71;
}

tr {
  border-collapse: collapse;
  border: 2px dashed #626D71;
}

thead th:nth-child(1) {
  width: 10%;
}

thead th:nth-child(2) {
  width: 30%;
}

thead th:nth-child(3) {
  width: 30%;
}

thead th:nth-child(4) {
  width: 30%;
}

th, td {
  padding: 20px;
}

thead th, tfoot th {
  font-family: 'KoHo';
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

thead, tfoot {
  color: white;
  text-shadow: 1px 1px 1px black;
}

thead th, tfoot th, tfoot td {
  background-color: #CDCDC0;
  border: 3px solid #626D71;
}
